*{
  margin: 0px;
  padding: 0px;
}

#root{
  padding: 0px;
  margin: 0px;
}
.App{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 0px ;
  margin: 0px;
  padding-top: 40px;
  min-height: 100vh;
  color: #f0f0f0;

}
h1{
  color: #f0f0f0;
}

.color-palette{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
} 

.color-box{
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: 2px solid #fff;
}

.custome-color-picker{
  margin-top: 20px;
}

.custome-color-picker input{
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
}

.custome-color-picker input:hover{
  background-color: #555;
}